name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: build project
        run: mvn clean install
      - name: Build the Docker image
        run: docker build -f Dockerfile .
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ghcr.io/zgamelogic/rebas-pantry-api:master
          labels: ${{ steps.meta.outputs.labels }}
  Kubernetes:
    runs-on: PiServer
    needs: build
    steps:
      - name: Checkout Kubernetes Directory
        uses: actions/checkout@v4
        with:
          sparse-checkout: 'kubernetes/cluster'
      - name: Apply Kubernetes Configuration
        run: sudo kubectl apply -f kubernetes/cluster
      - name: Rolling update
        run: |
          sudo kubectl rollout restart deployment rebas-pantry-api
          sudo kubectl rollout status deployment rebas-pantry-api --timeout=600s
